# Excluir diretórios de build do Maven
/target/

# Excluir arquivos de IDEs (IntelliJ IDEA)
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/

# Excluir logs
*.log
logs/

# Excluir variáveis de ambiente locais (se você criar um .env no futuro)
.env
.env.local

# Excluir configurações específicas do SO
.DS_Store
Thumbs.db
